<a href="https://colab.research.google.com/github/Xaviera8/Github.Test/blob/main/clean1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re
import os

#Load the Data set

In [47]:
df = pd.read_csv('healthcare_data_cleaning.csv')
df

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22614,18,Male,Davidville,Iowa,No,Yes,Cash,Dr. Jones,Cold,Med_D,missing,83,111,missing,46,77.24976273054284,171,105,4,49.93675629749219
22615,60,Male,New Davidtown,Tennessee,No,No,Card,Dr. Jones,Allergy,Med_B,Specialist,77,missing,167,65,394.2807412184199,181,28,7,60.883678995531675
22616,36,Other,North Elizabethborough,Kansas,Yes,No,missing,Dr. Smith,Covid-19,Med_C,Specialist,90,122,194,59,452.9121456043795,192,83,5,142.27417673692042
22617,62,Female,Dyerborough,California,Yes,Yes,Insurance,Dr. Williams,Cold,Med_D,General,88,140,165,77,32.073441702642036,196,69,4,43.24697708635441
22618,34,Other,Port Jasmineville,Ohio,Yes,Yes,Insurance,Dr. Will,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Identify and Handle any missing values in the dataset

In [16]:
print(df.isnull().sum())

Patient Age              0
Gender                   0
City of Residence        0
State of Residence       0
Has Insurance            0
Visited Last Month       0
Payment Method           0
Preferred Doctor         0
Disease Diagnosed        0
Medication Prescribed    0
Type of Appointment      0
Average Heart Rate       0
Average BP               0
Height (in cm)           0
Weight (in kg)           0
Payment Due ($)          0
Last Visit (days ago)    0
Visit Duration (mins)    0
Number of Tests          0
Prescription Cost ($)    0
dtype: int64

In [17]:
df.dropna(inplace=True)
print(df.isnull().sum())

Patient Age              0
Gender                   0
City of Residence        0
State of Residence       0
Has Insurance            0
Visited Last Month       0
Payment Method           0
Preferred Doctor         0
Disease Diagnosed        0
Medication Prescribed    0
Type of Appointment      0
Average Heart Rate       0
Average BP               0
Height (in cm)           0
Weight (in kg)           0
Payment Due ($)          0
Last Visit (days ago)    0
Visit Duration (mins)    0
Number of Tests          0
Prescription Cost ($)    0
dtype: int64

# Remove any duplicate rows and columns, if they exist

In [19]:
df.drop_duplicates(inplace=True)

# Clean Colums Names????